[Unit]
Description=Find log file
Wants=findword.timer

[Service]
Type=simple
User=root
ExecStart=/bin/grep "systemd" /var/log/messages
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
